.page-header__inner {
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  max-width: 880px;
  border-bottom: 1px solid rgb(84 84 84 / 100%);
}

@media screen and (min-width: 768px) {
  .page-header__inner {
    padding-bottom: 39px;
  }
}

